body{
/*	font-family:Georgia, "Times New Roman", Times, serif;*/
    font-family:Sans-serif;
	padding:0;
	margin:0;
}
#topnav{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	background:#858585;
	color:#ffffff;
	margin:0px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
}
#topnav a{
	color:white;
	margin-left:5px;
	margin-right:5px;
}
#topnav a:hover{
	color:#FFFF00;
}


#main{
margin: 0 auto;
    width: 560px;
    /*
    width:60%;
	margin-right:20%;
	margin-left:20%;
	*/
    z-index:-1;
	/*margin-top:2em;*/
    text-align:justify;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 560px;
    border:none;
}

h1,h2,h3,h4{
    font-family:Georgia, "Times New Roman", Times, serif;
    color:#00008b;
	font-weight:bold;
}

h1{
	/*margin-top:2em;*/
	text-align:center;
	font-weight:bold;
}

h2{
	/*text-align:center;*/
	font-weight:bold;
}

h3{
    font-style:italic;
    font-weight:normal;
}

p{
	text-align:justify;
	color:black;
}

pre{
	z-index:-1 !important;
	padding-left:0.5em;
	padding-top:0.5em;
	padding-bottom:0.5em;
}

pre.shell{
	z-index:-1 ! important;
	font-size:0.9em;
	font-family:"Courier New", monospace;
	background: #000000;
	color: #6CFA6E;
}

blockquote{
	text-align:justify;
	display: block;
	margin-left:50px;
	padding:0 20px 0 10px;
	border:none;
	border-left:2px solid #7070DC;
	
}

blockquote p{
    color: #555555;
}


.centre{
	text-align:center;
	color:black;
}

.rightaligned{
	text-align:right;
}

img.block{
display: block;
margin-left: auto;
margin-right: auto;
}

img.inline{
display: inline;
margin-left: auto;
margin-right: auto;
vertical-align:middle;
}
.question:before{
    font-weight:bold;
    content: "Q: ";
}
.question{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:0.25em;
    padding:0.25em;
    font-weight:normal;
    background:#aca;
    border:solid black 1px;
}
.answer:before{
    font-weight:bold;
    content: "A: ";
}
.answer{
    margin-top:0.25em;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:0.25em;
    font-weight:normal;
    color:#ccc;
    background:#ccc;
    border:solid black 1px;
    max-height:1em;
    overflow:hidden;
}
.answer img{
    display:none;
}

.answer:hover{
    color:#000;
    max-height:100%;
}

.answer:hover img.block{
    display:block;
/*    margin-top:0.3em;
    margin-bottom:0.3em;*/
    margin-left: auto;
    margin-right: auto;
}

.answer:hover img.inline{
    display:inline;
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle;
    color:#000;
}

p.endnote{
	font-size:small;
    text-align:center;
}

#valid{
	margin-top:6em;
	display:block;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}

.warning:before{
    font-weight:bold;
    content: "WARNING: ";
}
.warning{
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:0.25em;
    border: solid red 1px;
    color:red;
    background:yellow;
    
}

.toctitle{
    font-family:Georgia, "Times New Roman", Times, serif;
	color:#00008b;
	font-weight:bold;
	font-size:1.5em;
}
#valid a img{
    display:inline;
}
